.example-form {
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }

.search__block {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  .example-form {
    align-items: center;
    display: flex;
    .mat-form-field {
      width: 600px;
      margin-right: 20px;
    }
    button {
      width: 100px;
      height: 40px;
    }
  }
}

.cards__block {
    display: flex;
.example-card {
  max-width: 200px;
  cursor: pointer;
}
}

.cards__info {
  margin: 50px 0;
  width: 100%;
  
  .wrapper {
    width: 100%;
    display: flex;
    .example-card {
      margin: 0 20px 20px 0;
      box-shadow: none;
      cursor: unset;
    }
  }

}