<div class="container">
    <div class="search__block" *ngIf="isShowed">
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Start searching movie</mat-label>
            <input matInput 
            placeholder="Ex. Titanic" 
            value="" 
            [(ngModel)]="searchStr"
            name="Title"
            >
            </mat-form-field>
            <button mat-raised-button color="accent"
            (click)="handleChange()"
            >Search!</button>
        </form>
    </div>


     <div class="cards__block">
         <div *ngIf="isShowed">
     <mat-card class="example-card" 
     *ngIf="isLoaded" (click)="hideItems()"
     >   
         <img mat-card-image 
         [src]="movie.Poster">
         <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle> Year: {{movie.Year}}</mat-card-subtitle>
            </mat-card-header>
    </mat-card>
    <h1 *ngIf="isNotFound">Movie is not found</h1>
    </div>

    <div *ngIf="!isShowed" class="cards__info">
        <div class="wrapper">
    <mat-card class="example-card" 
     >
         <img mat-card-image 
         [src]="movie.Poster">
         
    </mat-card>
    <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Year: {{movie.Year}}</mat-card-subtitle>
        <mat-card-subtitle>	Actors: {{movie.Actors}} </mat-card-subtitle>
        <mat-card-subtitle>	Writers: {{movie.Writers}} </mat-card-subtitle>
        <mat-card-subtitle>	About: {{movie.Plot}} </mat-card-subtitle>
    </mat-card-header>
    </div>

    <button mat-raised-button color="accent"
       (click)="showItems()">Go back
    </button>

    
    </div>
    </div>

    
</div>
